requests
xgboost
torch
numpy
pandas
scikit-learn
pytorch-lightning
matplotlib
seaborn
mlxtend
openpyxl
albumentations
redmail
mysql-connector-python
fpdf2
flask
google-cloud-secret-manager
google-cloud-storage
cloud-sql-python-connector[pymysql]
SQLAlchemy